.banner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 20px;
    width: 900px;
    border-radius: 10px;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 5%, rgba(30,30,120,1) 100%, rgba(0,212,255,1) 100%);
}

.banner-container p {
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    padding: 10px;
}